.sectionOne {
  width: 1000px;
  margin: 0 auto;
  overflow: auto;
}

.centerImage {
  width: 860px;
  position: relative;
  z-index: -1;
}

.superHeading {
  padding-top: 60px;
  font-size: 64px;
  font-weight: 900;
  color: #3b3b3b;
  margin-top: 60px;
  margin-bottom: 0px;
}

.subSuperHeading {
  padding-top: 0px;
  font-size: 40px;
  font-weight: 800;
  color: #3b3b3b;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pattern-1 {
  position: absolute;
  width: 600px;
  z-index: -1;
  right: 0px;
}
